{
  "env": {
    "test": {
      "presets": ["@babel/env", "@babel/react", "@babel/typescript"]
    },
    "prod": {
      "presets": ["@babel/env", "@babel/react", "@babel/typescript"]
    },
    "dev": {
      "presets": ["@babel/env", "@babel/react", "@babel/typescript"],
      "plugins": ["react-refresh/babel"]
    }
  }
}
